extends layout

block content
  h1= title
  p
    | Write your codechain account and get CCC
  input#sns-url(type="text", name="sns-url")
  button#sns-button.g-recaptcha(type="submit" data-sitekey="6Let4GkUAAAAAAtJcCDG5BTuaKPVRFS8DfxrxAxK" data-callback="onSNSButtonClick") Get CCC
