extends layout

block content
  .container
    h1= title
    p
      | Write your codechain account and get CCC
    div#recaptcha.g-recaptcha(
      data-sitekey=recaptchaSiteKey,
      data-callback="onCaptchaSuccess",
      data-size="invisible"
    )
    .input-group
      input#sns-url.form-control(type="text", name="sns-url")
      .input-group-append
        button#sns-button.btn.btn-outline-secondary(type="submit") Get CCC
