extends layout

block content
  .container.center
    .section-1
      img.husky-image(src="/images/husky.png")

    .section-2
      h1.title= title
      span
        | Get CCC in the test network
      div#recaptcha.g-recaptcha(
        data-sitekey=recaptchaSiteKey,
        data-callback="onCaptchaSuccess",
        data-size="invisible"
      )
      .input-popover
      input#sns-url.form-control(type="text", name="sns-url" placeholder="Write tweet URL")
      a#sns-button.btn.btn-blue Get CCC
    .section-3
      h2.how How can I get CCC?
      p
        | 1. Write a tweet with "I love CodeChain" and your codechain address. Here is the <a target="_blank" href="https://twitter.com/PJuhyung/status/1030341568148860928">example tweet</a>.
        br
        br
        | 2. Write the tweet's URL to the input box. And please click the "Get CCC" button.
    .section-4
      h2 Caution
      p
        | The CCC should be used only for test purpose. We can remove your CCC without any notification.

