extends layout

block content
  h1= title
  p
    | Write your codechain account and get CCC
  input#sns-url(type="text", name="sns-url")
  div#recaptcha.g-recaptcha(
    data-sitekey=recaptchaSiteKey,
    data-callback="onCaptchaSuccess",
    data-size="invisible"
  )
  button#sns-button(type="submit") Get CCC
