extends layout

block content
  .container.center
    .section-1
      img.husky-image(src="/faucet/images/husky.png")

    .section-2
      h1.title= title
      span
        | Get CCC for the test network
    hr
    .section-3
      h2.steps Follow the steps
      p
        | 1. Tweet "I love CodeChain" with your CodeChain address. Here is an <a target="_blank" href="https://twitter.com/PJuhyung/status/1030341568148860928">example tweet</a>.
        br
        br
        | 2. Paste the tweet's URL into the input box, and click the "Get CCC" button.
      div#recaptcha.g-recaptcha(
        data-sitekey=recaptchaSiteKey,
        data-callback="onCaptchaSuccess",
        data-size="invisible"
      )
      .input-popover
      input#sns-url.form-control(type="text", name="sns-url" placeholder="Write tweet URL")
      a#sns-button.btn.btn-blue Get CCC
      a.refresh(href="./", style="display: none;") Refresh
    .section-4
      h2 <i class="fas fa-exclamation-triangle"></i> Caution
      p
        | The CCC obtained through this website should only be used for testing purposes.
        | If CCC is removed from your account without notification, please visit this page again to receive additional CCC.

