extends layout

block content
  .container.center
    .section-1
      img.husky-image(src="/images/husky.png")

    .section-2
      h1.title= title
      span
        | Write your codechain account and get CCC
      div#recaptcha.g-recaptcha(
        data-sitekey=recaptchaSiteKey,
        data-callback="onCaptchaSuccess",
        data-size="invisible"
      )
      .input-popover
      input#sns-url.form-control(type="text", name="sns-url" placeholder="Write twitter URL")
      a#sns-button.btn.btn-blue Get CCC
    .section-3
      h2.how How can I get CCC?
      p
        | 1. 트위터에 I love codechain 문장과 내 코드체인 어드레스를 포함한 트윗을 날려주세요.
        br
        br
        | 2. 해당 트윗 주소를 넣고 Get CCC 버튼을 눌러주세요.
    .section-4
      img(src="/images/logo.png")
