doctype html
html
  head
    title= title
    script(src="/javascripts/lib/jquery-3.3.1.js")
    script(src="/javascripts/index.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://www.google.com/recaptcha/api.js')
  body
    block content
