doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    script(src="/javascripts/lib/jquery-3.3.1.js")
    script(src="/javascripts/lib/bootstrap.bundle.min.js")
    script(src="/javascripts/index.js")
    script(src="/javascripts/customData.js")
    link(rel="stylesheet", href="/stylesheets/lib/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://www.google.com/recaptcha/api.js')
  body
    block content
