$faucet-blue: #3A3FAB
$faucet-gray: #F2F2F2

body
  padding-top: 100px
  padding-bottom: 100px
  background-color: $faucet-blue
  @media screen and (max-width: 575.98px)
    padding-top: 0
    padding-bottom: 0
    background-color: $faucet-gray
  font-family: 'Montserrat', sans-serif

.container
  background-color: $faucet-gray
  width: 434px
  display: flex
  flex-direction: column
  text-align: center
  padding-left: 45px
  padding-right: 43px
  @media screen and (max-width: 575.98px)
    margin: auto
    width: 100%
    padding-left: 15px
    padding-right: 13px
  padding-bottom: 30px
  h2
    color: $faucet-blue
    font-size: 14px
    margin-bottom: 15px
  p
    font-size: 12px
    line-height: 15px

.section-1
  width: 100%
  margin-top: 50px
  margin-bottom: 30px
  img
    width: 130px
    height: 130px
    margin: auto
    display: block

.section-2
  margin-bottom: 30px
  h1
    color: #3A3FAB
    font-size: 36px
    font-weight: bold
    margin-bottom: 0
  span
    margin-top: 0
    font-size: 14px
hr
  width: 149px
  color: #BDBDBD
  margin-top: 0
  margin-bottom: 0

.section-3
  margin-top: 30px
  .steps
    font-weight: bold
  img
    margin: 16px 10px 30px 10px
    width: 90px
    height: 25px
    cursor: pointer
  p
    margin: auto

.section-4
  margin-top: 0px
  .popover
    border: none
    border-radius: 0
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25)
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25)
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25)
  .popover-body
    padding: 3px
    color: #F7603F
    font-size: 10px
  input
    margin: auto
    margin-top: 30px
    width: 100%
    box-shadow: inset 0 0 3px #9E9E9E
    &:disabled
      background-color: white
    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      text-align: center
      color: #BDBDBD
    &.success::-webkit-input-placeholder
      color: #00DBB4
    &::-moz-placeholder /* Firefox 19+ */
      text-align: center
      color: #BDBDBD
      &.success
        color: #00DBB4
    &:-ms-input-placeholder /* IE 10+ */
      text-align: center
      color: #BDBDBD
      &.success
        color: #00DBB4
    &:-moz-placeholder /* Firefox 18- */
      text-align: center
      color: #BDBDBD
      &.success
        color: #00DBB4
    &.error
      border-color: #F7603F
  .btn
    background-color: $faucet-blue
    color: white !important
    width: 100%
    margin: auto
    margin-top: 10px
    font-size: 14px
    font-weight: normal
    &:hover
      color: #c4c4c4 !important
  .refresh
    color: #c4c4c4
    font-size: 11px

.section-5
  width: 100%
  margin: auto
  margin-top: 28.75px
  h2
    color: #F65632
  
